/* most of the styling in this file was taken from different online sources */

.main-container
{
    margin: 0;
    overflow-x: hidden;
}

.panel
{
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.panel.open
{
    left: 0;
}

.toggle-btn
{
    font-size: 16px;
    cursor: pointer;
    background-color: #329632db;
    color: white;
    border: none;
    border-radius: 5px;
    top: 20px;
    z-index: 10;

    float: right;
    margin: 0 10px 0 10px;
    transition: all 0.3s;
}

/* The rest is my code */

.toggle-btn.open
{
    text-align: center;
    float: none;
    margin: 0 auto;
    transition: all 0.3s;
}

.panel-content
{
    display: none;
}

.panel-content.open
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.posts-container
{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

.post-card
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2em;
    transition: filter 0.3s;
    transition: scale 0.3s;
}

.post-card:hover
{
    filter: brightness(50%);
    scale: 1.1;
}

.post-details
{
    background-color: #333;
    padding: 1em;
    border-radius: 1em;
    text-align: left;
}

.post-details a
{
    color: white;
}

span
{
    color: gray;
    font-size: small;
}

.post-details a:hover
{
    color: #007BFF;
    cursor: pointer;
}

.post-details img
{
    width: 700px;
}

.icon:hover
{
    color: gray;
    cursor: pointer;
}

.post-popup
{
    background-color: #333;
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;

}

#back-btn
{
    position: fixed;
    right: 1em;
    top: 1em;
    width: 5em;
    height: 5em;
}

#create-btn
{
    position: fixed;
    right: 1em;
    top: 7em;
    width: 5em;
    height: 5em;
}

#comment-section-closed
{
    position: fixed;
    height: 400px;
    
    background-color: #333;
    border-radius: 0.5em;
    width: 40%;
    top: 20%;
    left: 50%;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, 0);
    border: 1px solid white;
    display: none;
}

#comment-section-open
{
    position: fixed;
    height: 400px;
    
    background-color: #333;
    border-radius: 0.5em;
    width: 40%;
    top: 20%;
    left: 50%;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, 0);
    border: 1px solid white;
    display: inline-block;
}

.comment-list
{
    overflow-y: scroll;
    height: 90%;
}

.start-nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button:hover
{
    transition: filter 0.2s ease-in-out;
    filter: brightness(150%);
}

@media (prefers-color-scheme: light)
{
    .panel
    {
        background-color: white;
        color: #333;
    }
}