/* most of the styling in this file was taken from different online sources */

.main-container
{
    margin: 0;
    overflow-x: hidden;
}

.panel
{
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.panel.open
{
    left: 0;
}

.toggle-btn
{
    font-size: 16px;
    cursor: pointer;
    background-color: #329632db;
    color: white;
    border: none;
    border-radius: 5px;
    top: 20px;
    z-index: 10;

    float: right;
    margin: 0 10px 0 10px;
    transition: all 0.3s;
}

/* The rest is my code */

.toggle-btn.open
{
    text-align: center;
    float: none;
    margin: 0 auto;
    transition: all 0.3s;
}

.panel-content
{
    display: none;
}

.panel-content.open
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.posts-container
{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

.post-card
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2em;
    transition: filter 0.3s;
    transition: scale 0.3s;
}

.post-card:hover
{
    filter: brightness(50%);
    scale: 1.1;
}

.post-details
{
    background-color: #333;
    padding: 1em;
    border-radius: 1em;
    text-align: left;
}

.post-details a
{
    color: white;
}

span
{
    color: gray;
    font-size: small;
}

.post-details a:hover
{
    color: #007BFF;
    cursor: pointer;
}

.post-details img
{
    width: 700px;
}

.icon:hover
{
    color: gray;
    cursor: pointer;
}

.post-popup
{
    background-color: #333;
    border: 1px solid white;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
}

.post-popup button
{
    margin: 0.3em auto;
    text-align: center;
}

#back-btn
{
    position: fixed;
    right: 1em;
    top: 1em;
    width: 5em;
    height: 5em;
}

#create-btn
{
    position: fixed;
    right: 1em;
    top: 7em;
    width: 5em;
    height: 5em;
}

#comment-section-closed
{
    position: fixed;
    height: 400px;

    background-color: #333;
    border-radius: 0.5em;
    width: 40%;
    top: 20%;
    left: 50%;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, 0);
    border: 1px solid white;
    display: none;
}

#comment-section-open
{
    position: fixed;
    height: 600px;

    background-color: #333;
    border-radius: 0.5em;
    width: 40%;
    top: 20%;
    left: 50%;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, 0);
    border: 1px solid white;
    display: inline-block;
}

.comment-list
{
    padding: 10px;
    height: 90%;
    overflow-y: auto;
}

.comment
{
    margin-bottom: 10px;
    background-color: #646464;
    padding: 0.2em 0.5em;
    border-radius: 1em;
}

.comment p
{
    display: block;
    text-align: start;
}

.comment-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment strong
{
    color: #0bc90bce;
}

#comment-section-open form
{
    display: flex;
}

#comment-section-open button
{
    padding: 5px 10px;
    background-color: #0bc90bce;
    border: none;
    cursor: pointer;
}

input
{
    flex: 1;
    padding: 5px;
    border: none;
    background-color: #2a2a2a;
    color: #ffffff;
}

.start-nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button:hover
{
    transition: filter 0.2s ease-in-out;
    filter: brightness(150%);
}

.search-form
{
    position: relative;
    width: 20em;
    margin: 0 auto;
}

.search-form input
{
    width: 100%;
    height: 2.5em;
}

#search-icon
{
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}

.create-form
{
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 255, 0, 0.5);
    padding: 50px 35px;
}

.create-form *
{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.create-form h3
{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.create-form label
{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    font-weight: bold;
}

.create-form input, .create-form textarea
{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

@media (prefers-color-scheme: light)
{
    .panel
    {
        background-color: white;
        color: #333;
    }
}